<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title th:text="'Kiểm tra theo từng kỹ năng'"></title>
    <th:block th:replace="/fragment/header :: header"></th:block>
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


   <!-- Navbar Start -->
    <div th:replace="/fragment/header :: navbar "></div>
 <!-- Navbar End -->


    <!-- Header Start -->
    <!-- <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">Tin tức</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" href="#">Trang chủ</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Tin tức</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Header End -->


    <!-- Categories Start -->
    <div class="container-xxl py-5 category">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">eTOEIC</h6>
                <h1 style="margin-bottom: 25px;" th:text="'Skill ' + ${skill}"></h1>
            </div>
            <div class="row gy-5">
                <!-- review level -->
                <main class="col-lg-8"> 
                  <div class="container">
                    <!-- start skill test -->
                    <div class="row gy-4 mb-5">
                       
                      <h5 class="fw-bold" th:text="${skill.toUpperCase()}"></h5>
                       
                       <hr style="padding-right: 0px; padding-left: 0px;margin-top: 5px;">
                       <ul class="list-with-borders">
                        <li th:each="exer : ${newsPage.getContent()}">
                            <a th:href="@{'/client/skill/test/' + ${exer.id}}" th:text="${exer.name}"></a>
                        </li>

                       </ul>

                        <nav aria-label="Page navigation " th:if="${newsPage.getTotalPages() >1}">
                            <ul class="pagination justify-content-center mt-5">
                                <li class="page-item mx-1" th:if="${page >= 3}">
                                    <a class="page-link" th:href="@{'/client/skill/list?skill='+${skill}+ '&page=1'}">Trang đầu</a>
                                </li>
                                <!--                    previous-->
                                <li class="page-item mx-1" th:if="${page > 1}">
                                    <a  class="page-link" th:href="@{'/client/skill/list?skill='+${skill}+ '&page='+${(page)-1}}"><i class="fas fa-angle-left"></i></a>
                                </li>
                                <!--                    end previous-->

                                <!--                     page đầu-->
                                <li th:if="${page ==1 && newsPage.getTotalPages() >=4}"  th:each="i : ${#numbers.sequence(1,4)}"  class="page-item mx-1"  th:classappend="${i == page} ? 'active' : ''">
                                    <a class="page-link" th:href="@{'/client/skill/list?skill='+${skill} + '&page='+${i}}" th:text="${i}"></a></li>
                                <li th:if="${page ==1 && newsPage.getTotalPages() < 4}"  th:each="i : ${#numbers.sequence(1,newsPage.getTotalPages())}"  class="page-item mx-1"  th:classappend="${i == page} ? 'active' : ''">
                                    <a class="page-link" th:href="@{'/client/skill/list?skill='+${skill} + '&page='+${i}}" th:text="${i}"></a></li>
                                <!--end page dau-->


                                <li th:if="${page > 1 && page < newsPage.getTotalPages() && newsPage.getTotalPages() <= 4}"  th:each="i : ${#numbers.sequence(1,newsPage.getTotalPages())}"  class="page-item mx-1"  th:classappend="${i == page} ? 'active' : ''">
                                    <a class="page-link" th:href="@{'/client/skill/list?skill='+${skill} + '&page='+${i}}" th:text="${i}"></a></li>

                                <li th:if="${page > 1 and page < newsPage.getTotalPages() and page != newsPage.getTotalPages()-1 and newsPage.getTotalPages() >=5}"  th:each="i : ${#numbers.sequence((page)-1,(page+2))}"  class="page-item mx-1"  th:classappend="${i == page} ? 'active' : ''">
                                    <a class="page-link" th:href="@{'/client/skill/list?skill='+${skill} + '&page='+${i}}" th:text="${i}"></a></li>

                                <li th:if="${page > 1 and page == newsPage.getTotalPages()-1 and newsPage.getTotalPages() >=5}"  th:each="i : ${#numbers.sequence((page)-2,(page+1))}"  class="page-item mx-1"  th:classappend="${i == page} ? 'active' : ''">
                                    <a class="page-link" th:href="@{'/client/skill/list?skill='+${skill} +'&page='+${i}}" th:text="${i}"></a></li>

                                <!--                    page cuối-->
                                <li th:if="${page == newsPage.getTotalPages()  && newsPage.getTotalPages() > 4}"  th:each="i : ${#numbers.sequence((newsPage.getTotalPages()-3),newsPage.getTotalPages())}"  class="page-item mx-1"  th:classappend="${i == page} ? 'active' : ''">
                                    <a class="page-link" th:href="@{'/client/skill/list?skill='+${skill} +'&page='+${i}}" th:text="${i}"></a></li>

                                <li th:if="${page == newsPage.getTotalPages()  && newsPage.getTotalPages() <= 4}"  th:each="i : ${#numbers.sequence(1,newsPage.getTotalPages())}"  class="page-item mx-1"  th:classappend="${i == page} ? 'active' : ''">
                                    <a class="page-link" th:href="@{'/client/skill/list?skill='+${skill} +'&page='+${i}}" th:text="${i}"></a></li>
                                <!--end page cuoi-->
                                <li class="page-item mx-1" th:if="${page < newsPage.getTotalPages()}">
                                    <a class="page-link" th:href="@{'/client/skill/list?skill='+${skill} +'&page='+${(page)+1}}"><i class="fas fa-angle-right"></i></a>
                                </li>
                                <li class="page-item mx-1" th:if="${page <newsPage.getTotalPages()-1}">
                                    <a class="page-link" th:href="@{'/client/skill/list?skill='+${skill} + '&level='+ ${level} + '&page='+${newsPage.getTotalPages()}}">Trang cuối</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                 <!-- Courses Start -->

        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h3 style="margin-top: 100px;margin-bottom: 50px;">Tài liệu luyện thi TOEIC</h3>
        </div>
                      <div id="carouselExampleControls1" class="carousel slide " data-bs-ride="carousel">
                          <div class="carousel-inner">
                              <div class="carousel-item document-toeic active ">
                                  <div class="document-slick" data-nav="#slick-nav-2">
                                      <!-- Slide 1 -->
                                      <!-- <div class="row"> -->
                                      <div class="col-6 mx-2">
                                          <div class="course-item bg-light">
                                              <h5 class="text-center mt-2">Level 0 - 400</h5>
                                              <hr style="padding-right: 0px; padding-left: 0px;">
                                              <ul>
                                                  <li class="my-2" th:each="document400 :${documentType400}">
                                                      <a th:href="@{'/client/related-document/' + ${document400.getId()}}" th:text="${document400.getName()}"></a>
                                                  </li>
                                              </ul>
                                          </div>
                                      </div>
                                      <!-- Slide 2 -->
                                      <div class="col-6 mx-2">
                                          <div class="course-item bg-light">
                                              <h5 class="text-center mt-2">Level 400 - 600</h5>
                                              <hr style="padding-right: 0px; padding-left: 0px;">
                                              <ul>
                                                  <li class="my-2" th:each="document550 :${documentType550}">
                                                      <a th:href="@{'/client/related-document/' + ${document550.getId()}}" th:text="${document550.getName()}"></a>
                                                  </li>
                                              </ul>
                                          </div>
                                      </div>
                                      <!-- Slide 3 -->
                                      <div class="col-6 mx-2">
                                          <div class="course-item bg-light">
                                              <h5 class="text-center mt-2">Level 600 - 800</h5>
                                              <hr style="padding-right: 0px; padding-left: 0px;">
                                              <ul>
                                                  <li class="my-2" th:each="document700 :${documentType700}">
                                                      <a th:href="@{'/client/related-document/' + ${document700.getId()}}" th:text="${document700.getName()}"></a>
                                                  </li>
                                              </ul>
                                          </div>
                                      </div>
                                      <!-- Slide 4 -->
                                      <div class="col-6 mx-2">
                                          <div class="course-item bg-light">
                                              <h5 class="text-center mt-2">Level 850+</h5>
                                              <hr style="padding-right: 0px; padding-left: 0px;">
                                              <ul>
                                                  <li class="my-2" th:each="document850 :${documentType850}">
                                                      <a th:href="@{'/client/related-document/' + ${document850.getId()}}" th:text="${document850.getName()}"></a>
                                                  </li>
                                              </ul>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="slick-controls">
                                      <!-- Nút prev -->
                                      <button type="button" class="arrow-prev" id="arrow-prev2"><i class="fas fa-angle-double-left"></i></button>
                                      <!-- Nút next -->
                                      <button type="button" class="arrow-next" id="arrow-next2"><i class="fas fa-angle-double-right"></i></button>
                                  </div>
                                  <!-- </div> -->
                              </div>
                          </div>
                      </div>
        
                  </div>
                </main>
                <aside class="col-lg-4">
                  <!-- Widget [Search Bar Widget]-->
                  <div class="card mb-5">
                    <div class="card-body">
                      <h3 class="h6">Tìm kiếm bài từ vựng</h3>
                      <form action="#">
                        <div class="input-group border-bottom">
                          <input class="form-control border-0 shadow-0 ps-0" type="search" placeholder="Bạn muốn tìm kiếm">
                          <button class="btn btn-link btn-sm shadow-0 px-0" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                      </form>
                    </div>
                  </div>
                  <!-- Widget [Latest Posts Widget]        -->
                  <div class="card mb-5">
                    <div class="card-body">
                      <h3 class="h6 mb-3">Liên kết nhanh</h3>
                       <a class="text-reset mb-3" href="!#">
                        <div class="d-flex align-items-center"><img class="img-fluid flex-shrink-0" src="https://www.anhngumshoa.com/uploads/images/resize/300x300/vong-quay-may-man.png" alt="..." width="55">
                          <div class="ms-3">
                            <p class="mb-2 fw-bold text-gray-700 lh-1">Thi Thử TOEIC Online</p>
                            <ul class="list-inline list-separated text-gray-500 d-flex align-items-center">
                              <li class="list-inline-item small"><i class="far fa-eye"></i> 500</li>
                              <li class="list-inline-item small"><i class="far fa-comment"></i> 12</li>
                            </ul>
                          </div>
                        </div></a>
                        <a class="text-reset mb-3" href="!#">
                        <div class="d-flex align-items-center"><img class="img-fluid flex-shrink-0" src="https://www.anhngumshoa.com/uploads/images/resize/300x300/toeic-la-gi-anh-ngu-ms-hoa.jpg" alt="..." width="55">
                          <div class="ms-3">
                            <p class="mb-2 fw-bold text-gray-700 lh-1">Phương pháp đào tạo</p>
                            <ul class="list-inline list-separated text-gray-500 d-flex align-items-center">
                              <li class="list-inline-item small"><i class="far fa-eye"></i> 500</li>
                              <li class="list-inline-item small"><i class="far fa-comment"></i> 12</li>
                            </ul>
                          </div>
                        </div></a>
                        <a class="text-reset" href="!#">
                        <div class="d-flex align-items-center"><img class="img-fluid flex-shrink-0" src="https://www.anhngumshoa.com/uploads/images/resize/300x300/Tin tuc/1200x628.jpg" alt="..." width="55">
                          <div class="ms-3">
                            <p class="mb-2 fw-bold text-gray-700 lh-1">Cấu trúc đề thi TOEIC</p>
                            <ul class="list-inline list-separated text-gray-500 d-flex align-items-center">
                              <li class="list-inline-item small"><i class="far fa-eye"></i> 500</li>
                              <li class="list-inline-item small"><i class="far fa-comment"></i> 12</li>
                            </ul>
                          </div>
                        </div></a>
                    </div>
                  </div>
                  <!-- Widget [Categories Widget]-->
                  <div class="card mb-5">
                    <div class="card-body">
                      <h3 class="h6 mb-3">Danh mục</h3>
                      <div class="p-2 d-flex justify-content-between fw-bold text-gray-600 bg-light"><a class="text-reset" href="!#">Từ vựng chuyên ngành Marketing</a><span>12</span></div>
                      <div class="p-2 d-flex justify-content-between fw-bold text-gray-600 1"><a class="text-reset" href="!#">Từ vựng chuyên ngành Công nghệ thông tin</a><span>25</span></div>
                      <div class="p-2 d-flex justify-content-between fw-bold text-gray-600 bg-light"><a class="text-reset" href="!#">Từ vựng chuyên ngành Du lịch - khách sạn</a><span>8</span></div>
                      <div class="p-2 d-flex justify-content-between fw-bold text-gray-600 1"><a class="text-reset" href="!#">Từ vựng chuyên ngành Kỹ thuật</a><span>17</span></div>
                      <div class="p-2 d-flex justify-content-between fw-bold text-gray-600 bg-light"><a class="text-reset" href="!#">Từ vựng chuyên ngành Nội thất, xây dựng</a><span>25</span></div>
                    </div>
                  </div>
                </aside>
              </div>
        </div>
    </div>
    <!-- Categories Start -->


    <!-- Footer Start -->
    <div th:replace="/fragment/footer :: footer"></div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/lib/wow/wow.min.js}"></script>
    <script th:src="@{/lib/easing/easing.min.js}"></script>
    <script th:src="@{/lib/waypoints/waypoints.min.js}"></script>
    <script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
    <script th:src="@{/js/slick.min.js}"></script>
    <!-- Template Javascript -->
    <script th:src="@{/js/main.js}"></script>
</body>

</html>