<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>Giới thiệu</title>
    <th:block th:replace="/fragment/header :: header"></th:block>
  </head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
    <div th:replace="/fragment/header :: navbar "></div>
    <!-- Navbar End -->


    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">Về chúng tôi</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" href="#">Trang chủ</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Về chúng tôi</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-100" src="../img/about (1).jpg" alt="" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="section-title bg-white text-start text-primary pe-3">Về chúng tôi</h6>
                    <h1 class="mb-4">Chào mừng bạn đến với eTOEIC</h1>
                    <p class="mb-3 text-justify">Trong thời đại toàn cầu hóa hiện nay, Tiếng Anh đóng vai trò quan trọng trong môi 
                        trường làm việc của hầu hết các tổ chức và doanh nghiệp. Chứng chỉ TOEIC
                        được công nhận rộng rãi trên toàn cầu như một tiêu chuẩn đánh giá năng lực tiếng Anh trong lĩnh vực kinh doanh và thương mại.</p>
                    <p class="mb-3 text-justify">Với đề thi TOEIC chuyên sâu tại eTOEIC, bạn sẽ được trang bị đầy đủ kiến thức và 
                        kỹ năng cần thiết để vượt qua bài thi TOEIC một cách tự tin. Đội ngũ giảng viên giàu kinh nghiệm và tài liệu học tập hiện đại, 
                        phong phú sẽ đồng hành cùng bạn trên con đường chinh phục chứng chỉ quốc tế này.</p>
                   <p class="mb-3 text-justify">Chúng tôi tự hào mang đến cho bạn nền tảng học tập tiên tiến, cho phép bạn học mọi lúc, mọi nơi 
                    thông qua các bài giảng video bài bản và đề thi thực hành đa dạng. Hàng nghìn đề thi giống với đề thi thật, 
                    kèm theo hệ thống đánh giá và phân tích kết quả chi tiết sẽ giúp bạn nắm 
                    vững mọi kỹ năng từ Nghe, Nói, Đọc đến Viết trong môi trường làm việc quốc tế.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container">
          <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">
              Giảng viên
            </h6>
            <h1 class="mb-5">Giảng viên chuyên môn</h1>
          </div>
          <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
              <div class="team-item bg-light">
                <div class="overflow-hidden">
                  <img class="img-fluid" src="https://www.anhngumshoa.com/uploads/images/crop/500x300/anh-gv-4.jpg" alt="" />
                </div>
                <div
                  class="position-relative d-flex justify-content-center"
                  style="margin-top: -23px"
                >
                  <div class="bg-light d-flex justify-content-center pt-2 px-1">
                    <a class="btn btn-sm-square btn-primary mx-1" href=""
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                    <a class="btn btn-sm-square btn-primary mx-1" href=""
                      ><i class="fab fa-twitter"></i
                    ></a>
                    <a class="btn btn-sm-square btn-primary mx-1" href=""
                      ><i class="fab fa-instagram"></i
                    ></a>
                  </div>
                </div>
                <div class="text-center p-4">
                  <h5 class="mb-0">Ms. Khánh Linh</h5>
                  <small>960 TOEIC</small>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
              <div class="team-item bg-light">
                <div class="overflow-hidden">
                  <img class="img-fluid" src="https://www.anhngumshoa.com/uploads/images/crop/500x300/anh-gv-3.jpg" alt="" />
                </div>
                <div
                  class="position-relative d-flex justify-content-center"
                  style="margin-top: -23px"
                >
                  <div class="bg-light d-flex justify-content-center pt-2 px-1">
                    <a class="btn btn-sm-square btn-primary mx-1" href=""
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                    <a class="btn btn-sm-square btn-primary mx-1" href=""
                      ><i class="fab fa-twitter"></i
                    ></a>
                    <a class="btn btn-sm-square btn-primary mx-1" href=""
                      ><i class="fab fa-instagram"></i
                    ></a>
                  </div>
                </div>
                <div class="text-center p-4">
                  <h5 class="mb-0">Ms. Thu Trang</h5>
                  <small>970 TOEIC</small>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
              <div class="team-item bg-light">
                <div class="overflow-hidden">
                  <img class="img-fluid" src="https://www.anhngumshoa.com/uploads/images/crop/500x300/anh-gv-2.jpg" alt="" />
                </div>
                <div
                  class="position-relative d-flex justify-content-center"
                  style="margin-top: -23px"
                >
                  <div class="bg-light d-flex justify-content-center pt-2 px-1">
                    <a class="btn btn-sm-square btn-primary mx-1" href=""
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                    <a class="btn btn-sm-square btn-primary mx-1" href=""
                      ><i class="fab fa-twitter"></i
                    ></a>
                    <a class="btn btn-sm-square btn-primary mx-1" href=""
                      ><i class="fab fa-instagram"></i
                    ></a>
                  </div>
                </div>
                <div class="text-center p-4">
                  <h5 class="mb-0">Ms. Thùy Chi</h5>
                  <small>900 TOEIC</small>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
              <div class="team-item bg-light">
                <div class="overflow-hidden">
                  <img class="img-fluid" src="https://www.anhngumshoa.com/uploads/images/crop/500x300/anh-gv.jpg" alt="" />
                </div>
                <div
                  class="position-relative d-flex justify-content-center"
                  style="margin-top: -23px"
                >
                  <div class="bg-light d-flex justify-content-center pt-2 px-1">
                    <a class="btn btn-sm-square btn-primary mx-1" href=""
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                    <a class="btn btn-sm-square btn-primary mx-1" href=""
                      ><i class="fab fa-twitter"></i
                    ></a>
                    <a class="btn btn-sm-square btn-primary mx-1" href=""
                      ><i class="fab fa-instagram"></i
                    ></a>
                  </div>
                </div>
                <div class="text-center p-4">
                  <h5 class="mb-0">Ms. Nguyệt Ánh</h5>
                  <small>930 TOEIC</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Team End -->
        

    <!-- Footer Start -->
    <div th:replace="/fragment/footer :: footer"></div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/lib/wow/wow.min.js}"></script>
    <script th:src="@{/lib/easing/easing.min.js}"></script>
    <script th:src="@{/lib/waypoints/waypoints.min.js}"></script>
    <script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>

    <!-- Template Javascript -->
    <script th:src="@{/js/main.js}"></script>
</body>

</html>