<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
  <head>
    <title>Đăng ký</title>
    <th:block th:replace="/fragment/header :: header"></th:block>

    <style>
      .custom-eye{
        font-size: 20px;
        padding: 15px;
      }
    </style>
  </head>

  <body>
    <!-- Spinner Start -->
    <div
      id="spinner"
      class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
    >
      <div
        class="spinner-border text-primary"
        style="width: 3rem; height: 3rem"
        role="status"
      >
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <!-- Spinner End -->

    <!-- Navbar Start -->
    <div th:replace="/fragment/header :: navbar "></div>
    <!-- Navbar End -->

    <!--Login start -->
    <section class="vh-100">
        <div class="container-fluid h-custom">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-4">
              <img th:src="@{/img/signup-image.jpg}" class="img-fluid"
                alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
              <form method="post" th:action="@{/client/register/save}" th:object="${userForm}" >
                <div class="divider d-flex align-items-center my-4">
                  <h4 class="text-center fw-bold mx-3 mb-0">Đăng ký</h4>
                </div>
      
                <!-- Email input -->
                <div class="form-outline mb-4 form-floating">
                    <input type="text" id="username" class="form-control form-control" th:field="*{userName}"
                      placeholder="Enter a valid username" />
                    <label class="form-label" for="username">Username</label>
                  <p class="text-danger" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></p>

                </div>

                <div class="form-outline mb-4 form-floating">
                  <input type="email" id="email" class="form-control form-control" th:field="*{email}"
                    placeholder="Enter a valid email address" />
                  <label class="form-label" for="email">Email</label>
                  <p class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>

                </div>
      
                <!-- Password input -->
                <div class="form-outline mb-3 form-floating position-relative">
                  <input th:field="*{password}" type="password" id="password" class="form-control form-control" placeholder="Nhập mật khẩu" />
                  <label class="form-label" for="password">Mật khẩu</label>
                  <i class="fa fa-eye position-absolute end-0 top-50 translate-middle-y custom-eye toggle-password" aria-hidden="true" style="cursor: pointer;"></i>
                  <p class="text-danger" id="error-password" style="display: none">Mật khẩu phải từ 8 ký tự trở lên</p>
                  <p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>

                </div>

                <!-- RePassword input -->
                <div class="form-outline mb-3 form-floating position-relative">
                  <input type="password" id="re-password" class="form-control form-control" placeholder="Nhập mật khẩu" />
                  <label class="form-label" for="re-password">Xác nhận mật khẩu</label>
                  <i class="fa fa-eye position-absolute end-0 top-50 translate-middle-y custom-eye toggle-re-password " aria-hidden="true" style="cursor: pointer;"></i>
                  <p class="text-danger" id="error-re-password" style="display: none">Mật khẩu xác nhận phải giống mật khẩu đã nhập</p>
                </div>
      
                <div class="text-center text-lg-start mt-4 pt-2">
                 <button type="submit" class="btn btn-primary btn-lg  w-100 py-3" id="submitBtn"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Đăng ký</button>
                  <p class="small fw-bold mt-2 pt-1 mb-0">Nếu bạn đã có tài khoản? <a th:href="@{/show-login-page}"
                      class="link-danger">Đăng nhập</a></p>
                </div>
      
              </form>
            </div>
          </div>
        </div>
        
        </div>
      </section>
      <!-- Login end -->

    <!-- Footer Start -->
    <div th:replace="/fragment/footer :: footer"></div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
      ><i class="bi bi-arrow-up"></i
    ></a>

    <!-- JavaScript Libraries -->
    <script th:src="@{/plugins/toastr/js/toastr.min.js}"></script>
    <script th:src="@{/plugins/toastr/js/toastr.init.js}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/lib/wow/wow.min.js}"></script>
    <script th:src="@{/lib/easing/easing.min.js}"></script>
    <script th:src="@{/lib/waypoints/waypoints.min.js}"></script>
    <script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>


    <!-- Template Javascript -->
    <script th:src="@{/js/main.js}"></script>

    <script>
        const passwordInput = document.getElementById('password');
        const togglePasswordButton = document.querySelector('.toggle-password');

        togglePasswordButton.addEventListener('click', function () {
          if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            togglePasswordButton.classList.remove('fa-eye');
            togglePasswordButton.classList.add('fa-eye-slash');
          } else {
            passwordInput.type = 'password';
            togglePasswordButton.classList.remove('fa-eye-slash');
            togglePasswordButton.classList.add('fa-eye');
          }
        });

        const rePasswordInput = document.getElementById('re-password');
        const toggleRePasswordButton = document.querySelector('.toggle-re-password');
        toggleRePasswordButton.addEventListener('click', function () {
          if (rePasswordInput.type === 'password') {
            rePasswordInput.type = 'text';
            toggleRePasswordButton.classList.remove('fa-eye');
            toggleRePasswordButton.classList.add('fa-eye-slash');
          } else {
            rePasswordInput.type = 'password';
            toggleRePasswordButton.classList.remove('fa-eye-slash');
            toggleRePasswordButton.classList.add('fa-eye');
          }
        });
    </script>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const passwordInput = document.getElementById('password');
        const rePasswordInput = document.getElementById('re-password');
        const submitBtn = document.getElementById('submitBtn');
        const errorPassword = document.getElementById('error-password');
        const errorRePassword = document.getElementById('error-re-password');

        passwordInput.addEventListener('input', function () {
          const password = passwordInput.value;

          // Hiển thị cảnh báo khi password ít hơn 8 ký tự
          if (password.length < 8) {
            errorPassword.style.display = 'block';
          } else {
            errorPassword.style.display = 'none';
          }
        });

        // Lắng nghe sự kiện khi người dùng nhập vào ô re-password
        rePasswordInput.addEventListener('input', function () {
          const password = passwordInput.value;
          const rePassword = rePasswordInput.value;

          // Hiển thị cảnh báo khi re-password không khớp với password
          if (password !== rePassword) {
            errorRePassword.style.display = 'block';
          } else {
            errorRePassword.style.display = 'none';
          }
        });

        submitBtn.addEventListener('click', function (e) {

          const password = passwordInput.value;
          if (password.length < 8) {
            errorPassword.style.display = 'block';
          } else {
            errorPassword.style.display = 'none';
          }

          const rePassword = rePasswordInput.value;

          // Hiển thị cảnh báo khi re-password không khớp với password
          if (password !== rePassword) {
            errorRePassword.style.display = 'block';
          } else {
            errorRePassword.style.display = 'none';
          }


          if (errorPassword.style.display === 'block' || errorRePassword.style.display === 'block') {
            // Nếu có lỗi, ngăn chặn mặc định của sự kiện submit
            e.preventDefault();
          }

         });
      });
    </script>

    <script th:inline="javascript" th:if="${createSuccess != null}">
      toastr.success("Tạo tài khoản thành công", "Thành công", {
        timeOut: 5e3,
        closeButton: !0,
        debug: !1,
        newestOnTop: !0,
        progressBar: !0,
        positionClass: "toast-top-right",
        preventDuplicates: !0,
        onclick: null,
        showDuration: "2000",
        hideDuration: "1000",
        extendedTimeOut: "1000",
        showEasing: "swing",
        hideEasing: "linear",
        showMethod: "fadeIn",
        hideMethod: "fadeOut",
        tapToDismiss: !1
      });
    </script>

    <script th:inline="javascript" th:if="${createFail != null}">
      toastr.error("Tạo tài khoản thất bại", "Thất bại", {
        timeOut: 5e3,
        closeButton: !0,
        debug: !1,
        newestOnTop: !0,
        progressBar: !0,
        positionClass: "toast-top-right",
        preventDuplicates: !0,
        onclick: null,
        showDuration: "1000",
        hideDuration: "1000",
        extendedTimeOut: "1000",
        showEasing: "swing",
        hideEasing: "linear",
        showMethod: "fadeIn",
        hideMethod: "fadeOut",
        tapToDismiss: !1
      });
    </script>

  </body>
</html>
