<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>
        Đổi mật khẩu
    </title>
    <th:block th:replace="fragment/header :: html_head"></th:block>
</head>

<body>
<!--*******************
    Preloader start
********************-->
<div id="preloader">
    <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle
                    class="path"
                    cx="50"
                    cy="50"
                    r="20"
                    fill="none"
                    stroke-width="3"
                    stroke-miterlimit="10"
            />
        </svg>
    </div>
</div>
<!--*******************
    Preloader end
********************-->

<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">
    <!--**********************************
          Nav header start
      ***********************************-->
    <div th:replace="fragment/header :: nav_header">
    </div>
    <!--**********************************
          Nav header end
      ***********************************-->

    <!--**********************************
          Header start
      ***********************************-->
    <div th:replace="fragment/header :: header">
    </div>
    <!--**********************************
          Header end ti-comment-alt
      ***********************************-->

    <!--**********************************
          Sidebar start
      ***********************************-->
    <div th:replace="fragment/header :: nk_sidebar"></div>
    <!--**********************************
          Sidebar end
      ***********************************-->

    <!--**********************************
          Content body start
      ***********************************-->
    <div class="content-body">
        <div class="row page-titles mx-0">
            <div class="col p-md-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="javascript:void(0)">Người dùng</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="javascript:void(0)">Đổi mật khẩu</a>
                    </li>
                </ol>
            </div>
        </div>
        <!-- row -->

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-xl-8 mx-auto">
                    <div class="card">
                        <div class="card-body">
                            <form class="form-profile" onsubmit="return validateForm(event)" method="post"
                                  th:action="@{/admin/user/change-password}" th:object="${changePasswordDto}">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Mật khẩu cũ</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input
                                                    type="password"
                                                    id="oldPassword"
                                                    class="form-control"
                                                    placeholder="Mật khẩu cũ"
                                                    th:field="*{oldPassword}"
                                            />
                                            <div class="input-group-append">
                                                <button
                                                        class="btn btn-outline-secondary"
                                                        type="button"
                                                        onclick="togglePasswordVisibility('oldPassword', this)"
                                                >
                                                    <i class="fa fa-eye"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <small id="oldPasswordError" class="text-danger d-none">Vui lòng nhập mật khẩu
                                            cũ</small>
                                      <small class="text-danger" th:if="${passwordIncorrect != null}" th:text="${passwordIncorrect}"></small>
                                        <p class="text-danger" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"></p>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label"
                                    >Mật khẩu mới</label
                                    >
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input
                                                    type="password"
                                                    id="newPassword"
                                                    class="form-control"
                                                    placeholder="Mật khẩu mới"
                                                    oninput="validatePasswords()"
                                                    th:field="*{newPassword}"
                                            />
                                            <div class="input-group-append">
                                                <button
                                                        class="btn btn-outline-secondary"
                                                        type="button"
                                                        onclick="togglePasswordVisibility('newPassword', this)"
                                                >
                                                    <i class="fa fa-eye"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <small id="newPasswordError" class="text-danger d-none">Vui lòng nhập mật khẩu
                                            mới</small>
                                        <p class="text-danger" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></p>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label"
                                    >Xác nhận mật khẩu</label
                                    >
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input
                                                    type="password"
                                                    id="confirmPassword"
                                                    class="form-control"
                                                    placeholder="Xác nhận mật khẩu"
                                                    oninput="validatePasswords()"
                                                    th:field="*{confirmPassword}"
                                            />
                                            <div class="input-group-append">
                                                <button
                                                        class="btn btn-outline-secondary"
                                                        type="button"
                                                        onclick="togglePasswordVisibility('confirmPassword', this)"
                                                >
                                                    <i class="fa fa-eye"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <small id="confirmPasswordError" class="text-danger d-none">Vui lòng nhập xác
                                            nhận mật khẩu</small>
                                        <small
                                                id="passwordError"
                                                class="text-danger d-none mt-1"
                                        >Mật khẩu xác nhận không khớp!</small
                                        >
                                        <p class="text-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></p>

                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-10 offset-sm-2">
                                        <button
                                                type="submit"
                                                id="changePasswordButton"
                                                class="btn btn-dark"
                                                disabled
                                        >
                                            Đổi mật khẩu
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #/ container -->
    </div>
    <!--**********************************
          Content body end
      ***********************************-->

    <!--**********************************
          Footer start
      ***********************************-->
    <div th:replace="fragment/footer :: footer">
    </div>

    <!--**********************************
          Footer end
      ***********************************-->
</div>
<!--**********************************
    Main wrapper end
***********************************-->

<!--**********************************
    Scripts
***********************************-->
<script th:src="@{/plugins/common/common.min.js}"></script>
<script th:src="@{/js/custom.min.js}"></script>
<script th:src="@{/js/settings.js}"></script>
<script th:src="@{/js/gleek.js}"></script>
<script th:src="@{/js/styleSwitcher.js}"></script>
<script>
    function togglePasswordVisibility(inputId, button) {
        const input = document.getElementById(inputId);
        const icon = button.querySelector("i");

        if (input.type === "password") {
            input.type = "text";
            icon.classList.remove("fa-eye");
            icon.classList.add("fa-eye-slash");
        } else {
            input.type = "password";
            icon.classList.remove("fa-eye-slash");
            icon.classList.add("fa-eye");
        }
    }

    function validatePasswords() {
        const newPassword = document.getElementById("newPassword").value;
        const confirmPassword =
            document.getElementById("confirmPassword").value;
        const errorText = document.getElementById("passwordError");
        const changePasswordButton = document.getElementById(
            "changePasswordButton"
        );

        // Xử lý khi một trong hai trường trống
        if (newPassword === "" || confirmPassword === "") {
            errorText.classList.add("d-none");
            changePasswordButton.disabled = true;
            return;
        }

        // Xử lý khi cả hai trường đã có giá trị
        if (newPassword === confirmPassword) {
            errorText.classList.add("d-none"); // Ẩn thông báo lỗi
            changePasswordButton.disabled = false; // Kích hoạt nút
        } else {
            errorText.classList.remove("d-none"); // Hiển thị thông báo lỗi
            changePasswordButton.disabled = true; // Vô hiệu hóa nút
        }
    }

    function validateForm(event) {
        // event.preventDefault();

        const oldPassword = document.getElementById("oldPassword");
        const newPassword = document.getElementById("newPassword");
        const confirmPassword = document.getElementById("confirmPassword");

        const oldPasswordError = document.getElementById("oldPasswordError");
        const newPasswordError = document.getElementById("newPasswordError");
        const confirmPasswordError = document.getElementById("confirmPasswordError");
        const passwordError = document.getElementById("passwordError");

        // Ẩn tất cả thông báo lỗi
        [oldPasswordError, newPasswordError, confirmPasswordError, passwordError].forEach(error => {
            error.classList.add("d-none");
        });

        let isValid = true;

        // Kiểm tra mật khẩu cũ
        if (!oldPassword.value.trim()) {
            oldPasswordError.classList.remove("d-none");
            isValid = false;
        }

        // Kiểm tra mật khẩu mới
        if (!newPassword.value.trim()) {
            newPasswordError.classList.remove("d-none");
            isValid = false;
        }

        // Kiểm tra xác nhận mật khẩu
        if (!confirmPassword.value.trim()) {
            confirmPasswordError.classList.remove("d-none");
            isValid = false;
        }

        // Kiểm tra mật khẩu mới và xác nhận mật khẩu có khớp nhau
        if (newPassword.value !== confirmPassword.value) {
            passwordError.classList.remove("d-none");
            isValid = false;
        }

        if (isValid) {
            return true;
        } else {
            return false; // Ngăn form submit mặc định
        }

    }
</script>

<div th:replace="fragment/toastr :: toastr">
</div>

</body>
</html>
