<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
  <title>Photo</title>
  <th:block th:replace="fragment/header :: html_head"></th:block>


</head>

<body>

<!--*******************
    Preloader start
********************-->
<div id="preloader">
  <div class="loader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
    </svg>
  </div>
</div>
<!--*******************
    Preloader end
********************-->


<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

  <!--**********************************
      Nav header start
  ***********************************-->
  <div th:replace="fragment/header :: nav_header">
  </div>
  <!--**********************************
      Nav header end
  ***********************************-->

  <!--**********************************
      Header start
  ***********************************-->
  <div th:replace="fragment/header :: header">
  </div>
  <!--**********************************
      Header end ti-comment-alt
  ***********************************-->

  <!--**********************************
      Sidebar start
  ***********************************-->
  <div th:replace="fragment/header :: nk_sidebar"></div>
  <!--**********************************
      Sidebar end
  ***********************************-->

  <!--**********************************
      Content body start
  ***********************************-->
  <div class="content-body">

    <div class="row page-titles mx-0">
      <div class="col p-md-0">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">Bảng điều khiển</a></li>
          <li class="breadcrumb-item active"><a href="javascript:void(0)">Photo</a></li>
        </ol>
      </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">

              <div class="d-flex justify-content-end">
                <a type="button" class="btn btn-danger" th:href="@{/admin/manage-question}">
                  Hủy </a>
                <button type="button" id="submitButton" class="btn btn-info ml-4">
                  Lưu câu hỏi </button>
              </div>
              <div class="row">
                <p class="fw-bold text-center col-12 my-2">Question </p>
              </div>
              <div class="form-group row">
                <label class="col-lg-2 col-form-label fw-bold" for="name-review">Tên câu hỏi: <span class="text-danger">*</span>
                </label>
                <div class="col-lg-7">
                  <input type="text" class="form-control" id="name-review" name="name-review" placeholder="Tên câu hỏi">
                </div>
              </div>
              <!-- thêm mới -->

              <div class="row align-items-center">
                <div class="col-12" id="wrapper">

                </div>
              </div>
              <!--end tab  -->

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #/ container -->
  </div>
  <!--**********************************
      Content body end
  ***********************************-->


  <!--**********************************
      Footer start
  ***********************************-->
  <div th:replace="fragment/footer :: footer">
  </div>
  <!--**********************************
      Footer end
  ***********************************-->
</div>
<!--**********************************
    Main wrapper end
***********************************-->

<!-- Modal -->

<!--**********************************
    Scripts
***********************************-->
<script th:src="@{/plugins/common/common.min.js}"></script>
<script th:src="@{/js/custom.min.js}"></script>
<script th:src="@{/js/settings.js}"></script>
<script th:src="@{/js/gleek.js}"></script>
<script th:src="@{/js/styleSwitcher.js}"></script>

<script th:src="@{/plugins/tables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/plugins/tables/js/datatable/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/tables/js/datatable-init/datatable-basic.min.js}"></script>

<script th:src="@{/plugins/toastr/js/toastr.min.js}"></script>
<script th:src="@{/plugins/toastr/js/toastr.init.js}"></script>
<script th:src="@{/webjars/axios/0.19.0/dist/axios.min.js}"></script>

<script th:src="@{/js/cau-hoi/update-photo.js}"></script>

<style>
  .file-input + .file-label {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }

  .file-input {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  .file-label {
    width: 200px;
    display: inline-block;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s;
  }

  .file-label:hover {
    background-color: #e9e9e9;
  }

</style>

<script type="module">
  // import axios from 'https://cdn.skypack.dev/axios';
  // Chuyển đổi file ảnh thành chuỗi Base64
  function convertFileToBase64(file) {
    return new Promise((resolve, reject) => {
      const reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onload = () => resolve(reader.result);
      reader.onerror = error => reject(error);
    });
  }

  async function createAndSendQuestionObject(id, name,correctAnswerIndex,answers, image, audio) {
    var imageLabel = document.getElementById("label-image-file");
    var audioLabel = document.getElementById("label-audio-file");
    var imageLabelCopy = '';
    var audioLabelCopy = '';

    if(imageLabel.textContent === 'Chọn file'){
      imageLabelCopy = '';
    }else{
      imageLabelCopy = imageLabel.textContent;
    }
    if(audioLabel.textContent === 'Chọn file'){
      audioLabelCopy = '';
    }else{
      audioLabelCopy = audioLabel.textContent;
    }
    // Tạo một đối tượng mới theo mẫu cho câu hỏi
    let base64Image = null;
    if (image.fileImage) {
      base64Image = await convertFileToBase64(image.fileImage);
    }
    let base64Audio = null;
    if (audio.fileAudio) {
      base64Audio = await convertFileToBase64(audio.fileAudio);
    }

    var questionObject = {
      id:id,
      name:name ? name : null,
      image: {
        link: image.linkImage,
        base64: base64Image,
        nameBase64:image.fileImage ? image.fileImage.name : imageLabelCopy
      },
      audio: {
        link: audio.linkAudio,
        base64: base64Audio,
        nameBase64: audio.fileAudio ? audio.fileAudio.name :audioLabelCopy
      },
      answers: answers,
      answerCorrect: correctAnswerIndex
    };
    console.log(questionObject)
    // Đoạn code gửi API sẽ được thêm ở đây
    try {
      const response = await axios.post('/api/question/update/photo',questionObject, {
        headers: {
          'Content-Type': 'application/json'
        }
      });
      // console.log(response)
      toastr.success("Thông tin đã được cập nhật", "Thành công", {
        timeOut: 10e3,
        closeButton: !0,
        debug: !1,
        newestOnTop: !0,
        progressBar: !0,
        positionClass: "toast-top-right",
        preventDuplicates: !0,
        onclick: null,
        showDuration: "5000",
        hideDuration: "5000",
        extendedTimeOut: "5000",
        showEasing: "swing",
        hideEasing: "linear",
        showMethod: "fadeIn",
        hideMethod: "fadeOut",
        tapToDismiss: !1
      });
      setTimeout(() => {
        // Chuyển hướng (redirect) đến URL '/admin/manage-question'
        window.location.href = '/admin/manage-question';
      }, 2000); // 1000 milliseconds = 1 giây

    } catch (error) {
      console.log(error)
      toastr.error(error.response.data, "Thất baị", {
        timeOut: 10e3,
        closeButton: !0,
        debug: !1,
        newestOnTop: !0,
        progressBar: !0,
        positionClass: "toast-top-right",
        preventDuplicates: !0,
        onclick: null,
        showDuration: "5000",
        hideDuration: "5000",
        extendedTimeOut: "5000",
        showEasing: "swing",
        hideEasing: "linear",
        showMethod: "fadeIn",
        hideMethod: "fadeOut",
        tapToDismiss: !1
      });
    }
  }
  //     import axios from 'https://cdn.skypack.dev/axios';
  document.getElementById("submitButton").addEventListener("click", () =>{
    var linkImage = document.getElementById('image-input').value;
    var fileImage =document.getElementById('image-file').files[0];
    var image = {linkImage,fileImage};

    var linkAudio = document.getElementById('audio-input').value;
    const fileAudio = document.getElementById('audio-file').files[0];
    var audio = {linkAudio,fileAudio};
    // Lấy thông tin về các câu trả lời
    var answers = [];
    var answersNodeList =document.getElementsByName("question")
    answersNodeList.forEach(function(answer) {
      answers.push(answer.value);
    });

    // Lấy thông tin về câu trả lời đúng
    var correctAnswerIndex = document.getElementById('question-correct').value;
    var name = document.getElementById("name-review").value;
    var id =document.getElementById("id-question").value;;
    createAndSendQuestionObject(id, name,correctAnswerIndex,answers, image, audio);

  });
</script>


</body>

</html>