<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Quản lý bài ôn tập</title>
    <th:block th:replace="fragment/header :: html_head"></th:block>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet">
    <style>
        .dropdown-item{
            width: -webkit-fill-available;
        }
        .icon{
            cursor: pointer;
            font-size: 16px;
            margin-left: 5px;
        }
    </style>


</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div th:replace="fragment/header :: nav_header">
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div th:replace="fragment/header :: header">
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div th:replace="fragment/header :: nk_sidebar"></div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Bảng điều khiển</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Quản lý bài ôn tập</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                               
                                <button type="button" class="btn btn-info ml-4" data-toggle="modal" data-target="#modalAddEdit" onclick="showModal('add')">
                                    Thêm bài ôn tập </button>
                                <button type="button" class="btn btn-info ml-4" data-toggle="modal" data-target="#modalAddEdit">
                                    Import bài ôn tập </button>

                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered zero-configuration" id="example">
                                        <thead>
                                            <tr>
                                                <th >Tên bài</th>
                                                <th>Mức độ</th>
                                                <th>Loại kỹ năng</th>
                                                <th>Người tạo</th>
                                                <th>Chức năng</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="exercise : ${exercises}" th:data-id="${exercise.id}">
                                                <td th:text="${exercise.name}"></td>
                                                <td th:text="${exercise.level}"></td>
                                                <td th:text="${exercise.typeSkill}"></td>
                                                <td th:text="${exercise.createdBy}"></td>
                                                <td>
                                                    <div class="btn-group" role="group">
                                                        <button type="button" class="btn mb-1 btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Chức năng</button>
                                                        <div class="dropdown-menu" th:data-id-delete="${exercise.id}">
                                                            <a type="button" class="dropdown-item btn btn-primary detail-button"
                                                               th:href="@{/admin/manage-exercise/detail/{id}(id=${exercise.id})}" >Xem chi tiết</a>
                                                            <button type="button" class="dropdown-item btn btn-primary edit-button" data-toggle="modal" data-target="#modalEdit" onclick="showModal('edit')">
                                                                Cập nhập </button>
                                                            <button type="button" class="dropdown-item btn btn-primary delete-button" data-toggle="modal" data-target="#modalDelete"
                                                                   >Xóa</button>
                                                        </div>
                                                    </div>
                                                </td>
        
                                            </tr>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
        <div th:replace="fragment/footer :: footer">
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

<!-- Modal -->
<div class="modal fade" id="modalAddEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chọn loại bài ôn tập muốn thêm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
        <form>
            <div class="modal-body">
                <div class="form-group">
                    <label >Tên bài:</label>
                    <input type="text" class="form-control" id="name-add">
                </div>
                <div class="form-group">
                    <label >Chọn mức độ:</label>
                    <select id="level-add" class="form-control">
                        <option selected="selected">Vui lòng chọn...</option>
                        <option data-id='400'>400</option>
                        <option data-id='550'>550</option>
                        <option data-id='700'>700</option>
                        <option data-id='850'>850</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label >Chọn kỹ năng: </label>
                    <select id="skill-add" class="form-control">
                        <option selected="selected" value="">Vui lòng chọn...</option>
                        <option value="photo">PHOTO</option>
                        <option value="question_response">QUESTION-RESPONSE</option>
                        <option value="short_conversation">SHORT-CONVERSATION</option>
                        <option value="short_talk">SHORT-TALK</option>
                        <option value="incomplete_sentence">INCOMPLETE-SENTENCE</option>
                        <option value="text_completion">TEXT-COMPLETION</option>
                        <option value="single_passage">SINGLE-PASSAGE</option>
                        <option value="double_passage">DOUBLE-PASSAGE</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label >Chọn bộ câu hỏi tương ứng:  </label>
                    <select id="question" class="form-control">

                    </select>
                  </div>
                  <div id="selectedQuestions">
                   
                  </div>


                 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="submit-add">Thêm mới</button>
            </div>
        </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabelq">Chọn loại bài ôn tập muốn cập nhật</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
        <form>
            <div class="modal-body">
                <div class="form-group">
                    <label >Tên bài:</label>
                    <input type="text" class="form-control" id="name-edit">
                </div>
                <div class="form-group">
                    <label >Chọn mức độ:</label>
                    <select id="level-edit" class="form-control">
                        <option selected="selected">Vui lòng chọn...</option>
                        <option data-id='400'>400</option>
                        <option data-id='550'>550</option>
                        <option data-id='700'>700</option>
                        <option data-id='850'>850</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label >Chọn kỹ năng: </label>
                    <select id="skill-edit" class="form-control">
                        <option selected="selected" value="">Vui lòng chọn...</option>
                        <option value="photo">PHOTO</option>
                        <option value="question_response">QUESTION-RESPONSE</option>
                        <option value="short_conversation">SHORT-CONVERSATION</option>
                        <option value="short_talk">SHORT-TALK</option>
                        <option value="incomplete_sentence">INCOMPLETE-SENTENCE</option>
                        <option value="text_completion">TEXT-COMPLETION</option>
                        <option value="single_passage">SINGLE-PASSAGE</option>
                        <option value="double_passage">DOUBLE-PASSAGE</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label >Chọn bộ câu hỏi tương ứng:  </label>
                    <select id="question-edit" class="form-control">

                    </select>
                  </div>
                  <div id="selectedQuestions-edit">

                  </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="submit-edit">Cập nhập</button>
            </div>
        </form>
        </div>
    </div>
</div>


<div class="modal fade" id="modalDelete">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xác nhận</h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                </button>
            </div>
            <div class="modal-body">Bạn có chắc chắn muốn xóa không ?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                <form method="post" th:action="@{/admin/manage-exercise/delete}">
                    <input type="hidden" id="id-delete" name="idDelete"/>
                    <button type="submit" class="btn btn-primary">Đồng ý</button>
                </form>
            </div>
        </div>
    </div>
</div>


    <!--**********************************
        Scripts
    ***********************************-->
    <script th:src="@{/plugins/toastr/js/toastr.min.js}"></script>
    <script th:src="@{/plugins/toastr/js/toastr.init.js}"></script>
    <script th:src="@{/plugins/common/common.min.js}"></script>
    <script th:src="@{/js/custom.min.js}"></script>
    <script th:src="@{/js/settings.js}"></script>
    <script th:src="@{/js/gleek.js}"></script>
    <script th:src="@{/js/styleSwitcher.js}"></script>

    <script th:src="@{/plugins/tables/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/plugins/tables/js/datatable/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/plugins/tables/js/datatable-init/datatable-basic.min.js}"></script>
    <script th:src="@{/plugins/toastr/js/toastr.min.js}"></script>
    <script th:src="@{/plugins/toastr/js/toastr.init.js}"></script>

    <script th:src="@{/webjars/axios/0.19.0/dist/axios.min.js}"></script>
    <script th:src="@{/plugins/summernote/dist/summernote.min.js}"></script>
    <script th:src="@{/plugins/summernote/dist/summernote-init.js}"></script>
    <script th:src="@{/plugins/summernote/js/summernote-audio.js}"></script>
</body>

<script>
    $(document).ready(function () {
        $(".delete-button").click(function () {
            let id = $(this).parent().data("id-delete")
            $("#id-delete").val(id)
        });

    });
</script>


<script th:inline="javascript" th:if="${changeSuccess != null}">
    toastr.success("Xóa thành công", "Thành công", {
        timeOut: 5e3,
        closeButton: !0,
        debug: !1,
        newestOnTop: !0,
        progressBar: !0,
        positionClass: "toast-top-right",
        preventDuplicates: !0,
        onclick: null,
        showDuration: "2000",
        hideDuration: "1000",
        extendedTimeOut: "1000",
        showEasing: "swing",
        hideEasing: "linear",
        showMethod: "fadeIn",
        hideMethod: "fadeOut",
        tapToDismiss: !1
    });
</script>

<script th:inline="javascript" th:if="${deleteFail != null}">
    toastr.error("Xóa thất bại", "Thất bại", {
        timeOut: 5e3,
        closeButton: !0,
        debug: !1,
        newestOnTop: !0,
        progressBar: !0,
        positionClass: "toast-top-right",
        preventDuplicates: !0,
        onclick: null,
        showDuration: "2000",
        hideDuration: "1000",
        extendedTimeOut: "1000",
        showEasing: "swing",
        hideEasing: "linear",
        showMethod: "fadeIn",
        hideMethod: "fadeOut",
        tapToDismiss: !1
    });
</script>



<script>
// Khởi tạo modal
var modalEditElement = document.getElementById('modalEdit');
var modalEdit = new bootstrap.Modal(modalEditElement);

var modalAddElement = document.getElementById('modalAddEdit');
var modalAdd = new bootstrap.Modal(modalAddElement);


function showModal(mode) {
    // Kiểm tra chế độ
    var isEditMode = mode === 'edit';
 
    if (isEditMode) {
     
        initEditMode();
        modalEdit.show();
    } else {
        initAddMode();
        modalAdd.show();
    }
}

// lấy data từu api và cho việc thêm mới
const levelSelect = document.getElementById('level-add');
const skillSelect = document.getElementById('skill-add');


levelSelect.addEventListener('change', sendRequest);
skillSelect.addEventListener('change', sendRequest);

// clear đi khi change để luon lấy các câu hỏi phù hợp
function clearSelectedQuestions(add) {
    const selectedQuestionsDiv = document.getElementById('selectedQuestions');
    while (selectedQuestionsDiv.firstChild) {
        selectedQuestionsDiv.removeChild(selectedQuestionsDiv.firstChild);
    }
}

async function sendRequest() {
    const levelOption = levelSelect.options[levelSelect.selectedIndex];
    const skillOption = skillSelect.options[skillSelect.selectedIndex];
    clearSelectedQuestions();
    if (levelOption.value && skillOption.value) {
        const requestData = {
            level: levelOption.dataset.id,
            skill: skillOption.value.toLowerCase()
        };

        try {
            const response = await axios.post('/api/question/question-exercise', requestData);
            console.log(response)
            updateQuestionSelect(response.data);
        } catch (error) {
            console.error('Error:', error);
        }
    }
}

function updateQuestionSelect(data) {
    const questionSelect = document.getElementById('question');
    questionSelect.innerHTML = '<option value="">Vui lòng chọn...</option>';

    data.forEach(item => {
        const option = document.createElement('option');
        option.value = item.name;
        option.dataset.id = item.id;
        option.textContent = item.name;
        questionSelect.appendChild(option);
    });
}

//end


function initAddMode() {

    var selectedQuestions = {};
    var selectElement = document.getElementById("question");
    var selectedQuestionsContainer = document.getElementById("selectedQuestions");
    selectElement.addEventListener("change", function(event) {
        var selectedOption = event.target.options[event.target.selectedIndex];
        if (selectedOption.value !== "") {
            var id = selectedOption.getAttribute("data-id");
            addSelectedQuestion(selectedOption.text, id);
            removeOption(selectedOption.value);
        }
    });

    function addSelectedQuestion(text, id) {
        selectedQuestions[id] = text;

        var newParagraph = document.createElement("p");
        newParagraph.style.fontSize = "14px";
        newParagraph.setAttribute("data-id", id);
        newParagraph.textContent = text;

        var closeButton = document.createElement("i");
        closeButton.classList.add("fa", "fa-times", "icon");
        closeButton.setAttribute("aria-hidden", "true");
        closeButton.addEventListener("click", handleRemoveQuestion.bind(null, newParagraph, id, text));

        newParagraph.appendChild(closeButton);
        selectedQuestionsContainer.appendChild(newParagraph);
    }

    function removeOption(value) {
        var optionToRemove = selectElement.querySelector('option[value="' + value + '"]');
        if (optionToRemove) {
            optionToRemove.remove();
        }
    }

    function handleRemoveQuestion(questionElement, id, text) {
        delete selectedQuestions[id];
        addOption(text, id);
        selectedQuestionsContainer.removeChild(questionElement);
    }

    function addOption(text, id) {
        var newOption = document.createElement("option");
        newOption.value = id;
        newOption.setAttribute("data-id", id);
        newOption.textContent = text;
        selectElement.appendChild(newOption);

        // Reset select to default option
        selectElement.selectedIndex = 0;
    }
}


// update data

const editButtons = document.querySelectorAll('.edit-button');
var exerciseId;
editButtons.forEach(button => {
    button.addEventListener('click', async () => {
        exerciseId = button.closest('tr').getAttribute('data-id');
        await fetchExerciseDetails(exerciseId);
    });
});

async function fetchExerciseDetails(exerciseId) {
    try {
        const response = await axios.get(`/api/exercise/question-exercise/${exerciseId}`);
        const exerciseDetails = response.data;

        // Hiển thị thông tin chi tiết lên modal
        const nameInput = document.getElementById('name-edit');
        const levelSelect = document.getElementById('level-edit');
        const skillSelect = document.getElementById('skill-edit');

        nameInput.value = exerciseDetails.name;
        levelSelect.value = exerciseDetails.level;
        skillSelect.value = exerciseDetails.skill;

        // Xóa danh sách câu hỏi hiện tại
        clearSelectedQuestions1();
        clearQuestionOptions();

        // Hiển thị danh sách câu hỏi đã chọn
        const selectedQuestionsDiv = document.getElementById('selectedQuestions-edit');
        exerciseDetails.questionsUsing.forEach(question => {
            const questionElement = document.createElement('p');
            questionElement.textContent = question.name;
            questionElement.setAttribute('data-id', question.id);

            var closeButton = document.createElement("i");
            closeButton.classList.add("fa", "fa-times", "icon");
            closeButton.setAttribute("aria-hidden", "true");
            closeButton.addEventListener("click", handleRemoveQuestion.bind(null, questionElement, question.id, question.name));

            questionElement.appendChild(closeButton);
            selectedQuestionsDiv.appendChild(questionElement);
        });

        // Hiển thị danh sách câu hỏi chưa chọn
        const questionSelect = document.getElementById('question-edit');
        exerciseDetails.questions.forEach(question => {
            const option = document.createElement('option');
            option.value = question.name;
            option.setAttribute('data-id', question.id);
            option.textContent = question.name;
            questionSelect.appendChild(option);
        });
    } catch (error) {
        console.error('Error:', error);
    }
}
function clearSelectedQuestions1() {
    const selectedQuestionsDiv = document.getElementById('selectedQuestions-edit');
    selectedQuestionsDiv.innerHTML = '';
}

function clearQuestionOptions() {
    const questionSelect = document.getElementById('question-edit');
    questionSelect.innerHTML = '<option value="">Vui lòng chọn...</option>';
}

function handleRemoveQuestion(questionElement, id, text) {
    const selectedQuestionsDiv = document.getElementById('selectedQuestions-edit');
    const questionSelect = document.getElementById('question-edit');

    selectedQuestionsDiv.removeChild(questionElement);

    const option = document.createElement('option');
    option.value = text;
    option.setAttribute('data-id', id);
    option.textContent = text;
    questionSelect.appendChild(option);
}


// thay đôi skill or level
// lấy data từu api và cho việc thêm mới
const levelSelectEdit = document.getElementById('level-edit');
const skillSelectEdit = document.getElementById('skill-edit');


levelSelectEdit.addEventListener('change', sendRequestEdit);
skillSelectEdit.addEventListener('change', sendRequestEdit);

// clear đi khi change để luon lấy các câu hỏi phù hợp
function clearSelectedQuestionsEdit() {
    const selectedQuestionsDiv = document.getElementById('selectedQuestions-edit');
    while (selectedQuestionsDiv.firstChild) {
        selectedQuestionsDiv.removeChild(selectedQuestionsDiv.firstChild);
    }
}

async function sendRequestEdit() {
    const levelOption = levelSelectEdit.options[levelSelectEdit.selectedIndex];
    const skillOption = skillSelectEdit.options[skillSelectEdit.selectedIndex];
    clearSelectedQuestionsEdit();
    if (levelOption.value && skillOption.value) {
        const requestData = {
            level: levelOption.dataset.id,
            skill: skillOption.value.toLowerCase()
        };

        try {
            const response = await axios.post('/api/question/question-exercise', requestData);
            console.log(response)
            updateQuestionSelectEdit(response.data);
        } catch (error) {
            console.error('Error:', error);
        }
    }
}

function updateQuestionSelectEdit(data) {
    const questionSelect = document.getElementById('question-edit');
    questionSelect.innerHTML = '<option value="">Vui lòng chọn...</option>';

    data.forEach(item => {
        const option = document.createElement('option');
        option.value = item.name;
        option.dataset.id = item.id;
        option.textContent = item.name;
        questionSelect.appendChild(option);
    });
}
// end
// update
function initEditMode() {
    var selectedQuestions = {};
    var selectElement = document.getElementById("question-edit");
    var selectedQuestionsContainer = document.getElementById("selectedQuestions-edit");

    // Khởi tạo các câu hỏi đã chọn
    var initialSelectedQuestions = selectedQuestionsContainer.querySelectorAll("#modalEdit p");
    initialSelectedQuestions.forEach(function(questionElement) {
        var id = questionElement.getAttribute("data-id");
        var text = questionElement.textContent.replace(/\s*\u00D7\s*$/, ''); // Xóa biểu tượng x khỏi nội dung văn bản
        selectedQuestions[id] = text;

        var closeButton = questionElement.querySelector(".icon");
        closeButton.addEventListener("click", handleRemoveQuestion.bind(null, questionElement, id, text));
    });

    selectElement.addEventListener("change", function(event) {
        var selectedOption = event.target.options[event.target.selectedIndex];
        if (selectedOption.value !== "") {
            var id = selectedOption.getAttribute("data-id");
            addSelectedQuestion(selectedOption.text, id);
            removeOption(selectedOption.value);
        }
    });

    function addSelectedQuestion(text, id) {
        selectedQuestions[id] = text;

        var newParagraph = document.createElement("p");
        newParagraph.style.fontSize = "14px";
        newParagraph.setAttribute("data-id", id);
        newParagraph.textContent = text;

        var closeButton = document.createElement("i");
        closeButton.classList.add("fa", "fa-times", "icon");
        closeButton.setAttribute("aria-hidden", "true");
        closeButton.addEventListener("click", handleRemoveQuestion.bind(null, newParagraph, id, text));

        newParagraph.appendChild(closeButton);
        selectedQuestionsContainer.appendChild(newParagraph);
    }

    function removeOption(value) {
        var optionToRemove = selectElement.querySelector('option[value="' + value + '"]');
        if (optionToRemove) {
            optionToRemove.remove();
        }
    }

    function addOption(text, id) {
        var newOption = document.createElement("option");
        newOption.value = id;
        newOption.setAttribute("data-id", id);
        newOption.textContent = text;
        selectElement.appendChild(newOption);

        // Reset select to default option
        selectElement.selectedIndex = 0;
    }

    function handleRemoveQuestion(questionElement, id, text) {
        delete selectedQuestions[id];
        addOption(text, id);
        selectedQuestionsContainer.removeChild(questionElement);
    }
}



// update bài ôn tập
async function sendRequestUpdate() {

    // Lấy các giá trị từ các trường input và select
    var name = document.getElementById("name-edit").value;

// Lấy data-id của level đã chọn
    var levelId = document.getElementById("level-edit").selectedOptions[0].getAttribute("data-id");

// Lấy data-id của skill đã chọn
    var skillId = document.getElementById("skill-edit").selectedOptions[0].value;

    var selectedQuestionsContainer = document.getElementById("selectedQuestions-edit");
    var selectedQuestions = [];
    var selectedQuestionElements = selectedQuestionsContainer.querySelectorAll("p[data-id]");
    selectedQuestionElements.forEach(function(questionElement) {
        selectedQuestions.push({
            id: questionElement.getAttribute("data-id"),
            name: questionElement.textContent.trim()
        });
    });
    var formData = {
        id:exerciseId,
        name: name,
        level: levelId,
        skill: skillId,
        questions: selectedQuestions
    };

    try {
        const response = await axios.post('/api/exercise/update', formData, {
            headers: {
                'Content-Type': 'application/json'
            }
        });
        // Xử lý phản hồi từ API ở đây
        toastr.success("Thêm bài ôn tập thành công", "Thành công", {
            timeOut: 10e3,
            closeButton: !0,
            debug: !1,
            newestOnTop: !0,
            progressBar: !0,
            positionClass: "toast-top-right",
            preventDuplicates: !0,
            onclick: null,
            showDuration: "5000",
            hideDuration: "5000",
            extendedTimeOut: "5000",
            showEasing: "swing",
            hideEasing: "linear",
            showMethod: "fadeIn",
            hideMethod: "fadeOut",
            tapToDismiss: !1
        });
        console.log(response.data);
        setTimeout(() => {
            window.location.href = '/admin/manage-exercise';
        }, 1000); // 1000 milliseconds = 1 giây
    } catch (error) {
        console.error('Error:', error);
        toastr.error(error.response.data, "Thất bại", {
            timeOut: 10e3,
            closeButton: !0,
            debug: !1,
            newestOnTop: !0,
            progressBar: !0,
            positionClass: "toast-top-right",
            preventDuplicates: !0,
            onclick: null,
            showDuration: "5000",
            hideDuration: "5000",
            extendedTimeOut: "5000",
            showEasing: "swing",
            hideEasing: "linear",
            showMethod: "fadeIn",
            hideMethod: "fadeOut",
            tapToDismiss: !1
        });
    }
}
document.getElementById("submit-edit").addEventListener("click", sendRequestUpdate)


// add on tập

async function sendRequestAdd() {

    var name = document.getElementById("name-add").value;

    var levelId = document.getElementById("level-add").selectedOptions[0].getAttribute("data-id");

    var skillId = document.getElementById("skill-add").selectedOptions[0].value;

    var selectedQuestionsContainer = document.getElementById("selectedQuestions");
    var selectedQuestions = [];
    var selectedQuestionElements = selectedQuestionsContainer.querySelectorAll("p[data-id]");
    selectedQuestionElements.forEach(function(questionElement) {
        selectedQuestions.push({
            id: questionElement.getAttribute("data-id"),
            name: questionElement.textContent.trim()
        });
    });
    const formData = {
        name: name,
        level: levelId,
        skill: skillId,
        questions: selectedQuestions
    };

    try {
        const response = await axios.post('/api/exercise/add', formData, {
            headers: {
                'Content-Type': 'application/json'
            }
        });
        // Xử lý phản hồi từ API ở đây
        toastr.success("Thêm bài ôn tập thành công", "Thành công", {
            timeOut: 10e3,
            closeButton: !0,
            debug: !1,
            newestOnTop: !0,
            progressBar: !0,
            positionClass: "toast-top-right",
            preventDuplicates: !0,
            onclick: null,
            showDuration: "5000",
            hideDuration: "5000",
            extendedTimeOut: "5000",
            showEasing: "swing",
            hideEasing: "linear",
            showMethod: "fadeIn",
            hideMethod: "fadeOut",
            tapToDismiss: !1
        });
        console.log(response.data);
        setTimeout(() => {
            window.location.href = '/admin/manage-exercise';
        }, 1000); // 1000 milliseconds = 1 giây
    } catch (error) {
        console.error('Error:', error);
        toastr.error(error.response.data, "Thất bại", {
            timeOut: 10e3,
            closeButton: !0,
            debug: !1,
            newestOnTop: !0,
            progressBar: !0,
            positionClass: "toast-top-right",
            preventDuplicates: !0,
            onclick: null,
            showDuration: "5000",
            hideDuration: "5000",
            extendedTimeOut: "5000",
            showEasing: "swing",
            hideEasing: "linear",
            showMethod: "fadeIn",
            hideMethod: "fadeOut",
            tapToDismiss: !1
        });
    }
}


document.getElementById("submit-add").addEventListener("click", sendRequestAdd);


</script>

</html>